USE [master]
GO
/****** Object:  Database [PalindromoDevWebApi]    Script Date: 21/04/2016 07:59:55 p. m. ******/
CREATE DATABASE [PalindromoDevWebApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PalindromoDevWebApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PalindromoDevWebApi.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PalindromoDevWebApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PalindromoDevWebApi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PalindromoDevWebApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PalindromoDevWebApi]
GO
/****** Object:  Table [dbo].[Palabras]    Script Date: 21/04/2016 07:59:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palabras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Palabra] [nvarchar](50) NOT NULL,
	[Palindromo] [bit] NOT NULL,
 CONSTRAINT [PK_Palabras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
